<!DOCTYPE html>
<html class="ocks-org do-not-copy">
<meta charset="utf-8">
<head>
	
	<title>듀듀 퀴즈 분석</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>


   
   <a href="javascript:history.back()">뒤로</a>

   <div class="container ", style="display: block">
   	<br>
   	<br>
   	<br>
   	<br>
   	<br>
   	<a href="/9"> <button class="center-block btn btn-default"> 퀴즈  09번 </button> </a>
   	<br>
   <a href="/10"> <button class="center-block btn btn-default"> 퀴즈 10번 </button> </a>
   <br>
   <a href="/12"> <button class="center-block btn btn-default"> 퀴즈 12번 </button> </a>
   <br>
   <a href="/13"> <button class="center-block btn btn-default"> 퀴즈 13번 </button> </a>
   <br>
   <a href="/17"> <button class="center-block btn btn-default"> 퀴즈 17번 </button> </a>
   <br>
   <a href="/21"> <button class="center-block btn btn-default"> 퀴즈 21번 </button> </a>
   <br>
   <a href="/23"> <button class="center-block btn btn-default"> 퀴즈 23번 </button> </a>
   <br>
   <a href="/24"> <button  class="center-block btn btn-default"> 퀴즈 24번 </button> </a>
   <br>
   <a href="/25"> <button  class="center-block btn btn-default"> 퀴즈 25번 </button> </a>
   </div>
   
   

    
    
<script src="http://code.jquery.com/jquery-latest.js"></script>    
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="http://d3js.org/d3.v2.min.js?2.9.4"></script>
<script src="static/js/fisheye.js"></script>
<script src="static/js/d3load.js"></script>